@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
  font-family: 'Noto Sans Japanese', sans-serif
}

/* top page */
div.sakura-front-cover {
  background: #53585f;
  background-image: url(../image/main-footer.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

div.sakura-front-cover > h1 {
  color: white;
}

div.sakura-front-cover div.remark-slide-number {
  display: none;
}

/* slide pages */
div.sakura-content {
  background: white;
  background-image: url(../image/content-footer.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 80px;
  padding-bottom: 0px;
}

div.sakura-content div.remark-slide-number {
  padding: 0.4rem 0;
  background: #DBDDDF;
  right: 20px;
  width: 30px;
  bottom: 0px;
  color: #53585f;
  text-align: center;
  font-size: 0.7em;
}

div.sakura-content > h1, div.sakura-content > h2, div.sakura-content > h3 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}
div.sakura-content > h2 {
  margin-top: 0.5em;
  padding-left: 0.2em;
  border-left: solid 10px #ccc;
  border-bottom: solid 1px #ccc;
}
div.sakura-content > h1 { font-size: 2.2em; color: #224466; }
div.sakura-content > h2 { font-size: 1.4em; }
div.sakura-content > h3 { font-size: 1.2em; }
div.sakura-content li p { line-height: 1.25em; }
div.sakura-content .red { color: #fa0000; }
div.sakura-content .large { font-size: 2em; }
div.sakura-content a{
  color: #2040EF;
  text-decoration: none;
}
div.sakura-content u {
  color: #e76c81;
}

div.sakura-content code {
  -moz-border-radius: 5px;
  -web-border-radius: 5px;
  background: #e7e8e2;
  border-radius: 5px;
}
div.sakura-content .remark-code, div.sakura-content .remark-inline-code { font-family: 'Source Code Pro'; }

